<div class="col-xs-4 social social-share-button"  data-title="<%= @blog.title %>">
  <button class="btn-twitter" id="share-twitter" rel="nofollow " data-site="twitter" onclick="return SocialShareButton.share(this);">
    <img src="/assets/twitter" alt="">
  </button>
</div>
<div class="col-xs-4 social social-share-button" data-title="<%= @blog.title %>">
  <button class="btn-facebook" rel="nofollow " data-site="facebook" onclick="return SocialShareButton.share(this);">
    <img src="/assets/facebook" alt="">
  </button>
</div>
<div class="col-xs-4 social">
  <button class="btn-line">
    <div id="line-share-btn-ems" class="line-it-button" data-lang="en" data-type="share-c" data-url="<%= blog_url(@blog) %>"></div>
  </button>
</div>

<script>
  function shareLine() {
      LineIt.loadButton();
  }
</script>