<div class="row menu-bar" >
  <ul class="autoplay">
    <% @category.each do |category| %>
      <a href="#" data-remote="true"><li><%=  category.name %></li></a>
    <% end %>
  </ul>
</div>
<div class="main-view">
  <ul id="my-blogs-user" >
    <%= render 'blog' %>
  </ul>
  <div id="infinite-scrolling-user" class="text-center">
    <%= paginate @blogs %>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('.autoplay').slick({
            slidesToShow: 3,
            autoplay: true,
            autoplaySpeed: 2000,
        });

        $('.menu-bar ul button').hide();
    });
</script>