<div class="row menu-bar" >
  <ul class="autoplay">
    <%= render 'category' %>
  </ul>
</div>
<div class="main-view">
  <ul id="my-blogs-user" >
    <%= render 'blog' %>
  </ul>
  <% if @blogs.count.eql? 10 %>
    <% if params[:category].nil? %>
      <%= link_to 'Load More Posts', blogs_path(page: @blogs.next_page), class: 'load-more-posts', remote: true  %>
    <% else %>
      <%= link_to 'Load More Posts', blogs_path(page: @blogs.next_page, category: params[:category]), class: 'load-more-posts', remote: true  %>
    <% end %>
  <% end %>
</div>
