#image-preview, .image-preview {
  width: 150px;
  height: 120px;
  position: relative;
  overflow: hidden;
  color: #ecf0f1;
}
#image-preview input, .image-preview input{
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label, .image-preview label {

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.body-preview {
  text-decoration: underline;
}

#circle {
  border: 1px solid #666 !important;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
  margin: 0 auto;
}

.long-text {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.nohover {
  pointer-events: none;
}

a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  border-radius: 5px !important;
}

.panel-info>.panel-heading {
  color: #666 !important;
  border-bottom: .0625rem solid #e2c5c5;
}

.panel-info> .panel-body {
  background-color: #e0ebf9;
  padding-top: 0px;
}

.button-search {
  margin-top: 5px;
}

.btn-ems {
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-color: #ccc;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}