.navbar {
  margin-bottom: 0px !important;
}

.page-container {
  margin-top: 0px !important;
}

.page-content-wrapper .layout-admin {
  margin-left: 0px !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}