<br><br><br>
<ul class="list-group">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="row">
      <div class="btn-ems col-sm-11">
        <h4><strong><%= t "admin.static.blog" %></strong></h4>
        <br>
        <ul>
          <li>
            <%= link_to t("admin.static.list_blog"), admin_blogs_path %>
          </li>
          <li>
            <%= link_to t("admin.static.create_blog"), new_admin_blog_path %>
          </li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</ul>
