.container-homepage {
  position: relative;
  width: 90vw;
  top: 10vh;
    #avatar {
      left: 0vw;
      width: 100vw;
      position: absolute;
      img {
        width: 90%;
      }
    }
}

#edit_user {
  margin-bottom: 5vh;
}