.container-homepage {
  background-color: #f0f0f0 !important;
  position: relative;
  width: 90vw;
  top: 10vh;
    #avatar {
      left: 3vw;
      width: 100vw;
      position: absolute;
      img {
        width: 90%;
      }
    }
}