.test {
  background-color: rgb(255, 115, 0);
  left: 625px;
  top: 515px;
  width: 750px;
  height: 128px;
  z-index: 49;
}

.main-bg {
  background-color: rgb(240, 240, 240);
  left: 625px;
  top: 515px;
  width: 750px;
  height: 1334px;
  z-index: 15;
}
