<div>
  <div id="blog-table-alerts">
    <%= render "blocks/alerts" %>
  </div>
  <strong>
    <h1 class="page-title"> <%= t "admin.blog.create.title" %>
      <small><%= t "admin.blog.create.title_addtion" %></small>
    </h1>
  </strong>

  <div class="row">
    <div class="col-md-12 ">
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1" id="blog-table">
          <%= render 'blog_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
