<footer>
  <div class="row" >
    <a href="#" >
      <div class="col-xs-4 footer-menu">
        <div class="comment">
          <img class="default" src="/assets/comment.png" alt="">
          <img class="selected" src="/assets/comment-active.png" alt="">
          <span><p>トーク</p></span>
        </div>
      </div>
    </a>
    <%= link_to blogs_path(type_page: "welcome"), remote: true do %>
      <div class="col-xs-4 footer-menu <%= params[:controller].eql?("blogs") || params[:controller].eql?("authors") ? "active" : "" %>">
        <div class="detail">
          <img class="default" src="/assets/detail.png" alt="">
          <img class="selected" src="/assets/detail-active.png" alt="">
          <span><p>ブログ</p></span>
        </div>
      </div>
    <% end %>
    <a href="<%= current_user ? user_path(current_user.id) : "" %>" >
      <div class="col-xs-4 footer-menu <%= params[:controller] == "users" ? "active" : "" %> ">
        <div class="author">
          <img class="default" src="/assets/author.png" alt="">
          <img class="selected" src="/assets/author-active.png" alt="">
          <span><p>プロフィール</p></span>
        </div>
      </div>
    </a>
  </div>
</footer>