<header>
  <div id="header-top">
    <div id="title-text">
      <p>私のアプリケーション<a href="<%= user_login_path %>"><i class="glyphicon glyphicon-log-in pull-right logout-btn-ems"></i></a>
      </p>
    </div>
  </div>
</header>